body{  
    font-family: serif;      
    background-image: url(pexels-fwstudio-33348-129731.jpg);
    background-position: center; 
}
h1{
    text-align: center;
    color: white;
    font-size: 75px;
    margin-bottom: 100px;
}
.layout{
    margin: 0 auto;
    columns: 3;
    column-gap: 2em;
}
img{
    display:block;
    margin-bottom: 1em;

}
.images {
   margin: 2em;
   width: 300px;
   text-align: center;
   transition: transform 0.2s ease-in-out, box-shadow 0.3s ease;
   border: rgb(246, 246, 246) solid 5px;
   border-radius: 10px;
   break-inside: avoid;
   background-color: white;
}
.images:hover{
    transform: scale(1.3);
    box-shadow: 0px 8px 15px rgb(214, 214, 207);
}
p{
    background-color: rgb(255, 255, 255);
}
h3{
    background-color: rgb(255, 255, 255);
}
button{
    display: inline-block;
    padding: 15px 30px;
    font-size: x-large;
    font-weight: bold;
    color: white;
    text-align: center;
    border-radius: 30px;
    background-color: white;
    
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease;
    margin: 10px;
    border: none;
}
button:hover {
    transform: scale(1.4);
    box-shadow: 10px 8px 15px rgb(255, 255, 255);
  }
  button p{
    background-color: white;
  }
  a{
    text-decoration: none;
    background-color: white;
  }
  del{
    background-color: white;
    color: grey;

  }
  .add-to-cart{
    background-color: blue;
  }
  h2{
    background-color: white;
    color: black;
    margin: 1px;
  }
  h4{
    background-color: white;
    color: grey;
    margin: 1px;
  }
  #buy{
    background-color: orange;
  }